<header>
  <h1>Books</h1>
</header>

<top>
  <div class="top-left">Title</div>
  <div class="top-right">Body</div>
</top>

<main>
 <div class="title">
   <ul>
     <li>book</li>
     <li>リーダブルコード</li>
     <li>楽しいRuby</li>
     <li>入門Git</li>
     <li>アルゴリズム図鑑</li>
     <li>達人プログラマー</li>
     <li>データベース実践入門</li>
     <li>トラブル知らずのシステム設計</li>
   </ul>
   
 </div>


<div class="body">
  <ul>
    <li>book</li>
    <li>より良いコードを書くためのシンプルで実践的なてくにっく</li>
    <li>Rubyの入門におすすめです</li>
    <li>gitについての基本操作から内部構造まで解説してくれます</li>
    <li>アルゴリズムについてカラーイラストでしっかり解説してくれます</li>
    <li>プログラマ入門者は必読！
    <li>効率的なSQL文を教えてくれます</li>
    <li>a</li>
  </ul>
</div>

<div class="menu"></div>

</main>