<header>
  <h1><strong>Books</strong></h1>
</header>

<table>
 <thead>
  <tr>
   <th>Title</th>
   <th>Body</th>
   <th></th>
  </tr>
 </thead>
 
 <tbody>
   <tr>
      <td>リーダブルコード</td>
      <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
      <td></td>
      <td></td>
      <td></td>
   </tr>
  
   <tr>
      <td>トラブル知らずのシステム設計</td>
      <td>システム設計の要点を図解で説明してくれます</td>
      <td></td>
      <td></td>
      <td></td>
   </tr>
   
   <tr>
      <td>楽しいRuby</td>
      <td>Rubyの入門におすすめです</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    
    <tr>
      <td>入門Git</td>
      <td>gitについての基本捜査から内部構造まで解説してくれます。</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    
    <tr>
      <td>アルゴリズム図鑑</td>
      <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    
    <tr>
      <td>達人プログラマー</td></td>
      <td>プログラマ入門者は必読！</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>　
    
    <tr>
      <td>データベース実践入門</td>
      <td>効率的なSQL文を教えてくれます</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    
 </tbody>
</table>

<h2><strong>New book</strong></h2>

 <div class="post">  
   <%= form_with model: @book do |f| %>
   <h4>Title</h4>
    <%= f.text_field :title %>
    
 </div> 
 
 <div class="post2"> 
   <h4>Body</h4>
    <%= f.text_area :body %>
    
 </div>
 
 <div class="post3"> 
    <%= f.submit'Create Book' %>
   <% end %>
 </div>