<header>
  <h1><strong>Books</strong></h1>
</header>

<top>
  <div class="top-left"><strong>Title</strong></div>
  <div class="top-right"><strong>Body</strong></div>
</top>

<main>
 <div class="title">
   <ul>
     <li>リーダブルコード</li>
     <li>トラブル知らずのシステム設計</li>
     <li>楽しいRuby</li>
     <li>入門Git</li>
     <li>アルゴリズム図鑑</li>
     <li>達人プログラマー</li>
     <li>データベース実践入門</li>
   </ul>
   
 </div>


 <div class="body">
   <ul>
     <li>より良いコードを書くためのシンプルで実践的なてくにっく</li>
     <li>システム設計の要点を図解で説明してくれます</li>
     <li>Rubyの入門におすすめです</li>
     <li>gitについての基本操作から内部構造まで解説してくれます</li>
     <li>アルゴリズムについてカラーイラストでしっかり解説してくれます</li>
     <li>プログラマ入門者は必読！</li>
     <li>効率的なSQL文を教えてくれます</li>
   </ul>
 </div>

 <div class="menu"></div>

</main>


<h2><strong>New book</strong></h2>

 <div class="post">  
   <%= form_with do |f| %>
   <h4>Title</h4>
    <%= f.text_field:title %>
 </div> 
 
 <div class="post2"> 
   <h4>Body</h4>
    <%= f.text_area:body %>
 </div>
 
 <div class="post3"> 
    <%= f.submit'Create Book' %>
   <% end %>
 </div>