// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
  header{
    height:50px;
    width:100%;
  }
  
  h1{
    font-family: verdana, arial, helvetica, sans-serif;
  }
    
  top{
    position:relative;
  }
  
  .top-left{
    position:absolute;
    top:15px;
    left:130px;
  }
  
  .top-right{
    position:absolute;
    top:15px;
    left:520px;
  }


  .title{
    height:250px;
    width:250px;
    margin-left:40px;
  }
  
  .body{
   height:250px;
    width:500px;
    margin-left:5px;
  }
  
  .menu{
    height:250px;
    width:250px;
    background-color:blue;
  }
  
  top{
    height:50px;
    display:flex;
    flex-direction:row;
  }
  
  main{
    display:flex;
    flex-direction:row;
  }
  
  li{
    list-style:none;
    margin:10px 0px;
  }
  
  h2{
  margin-left: 35px;
  margin-top: 10px;
  font-family: verdana, arial, helvetica, sans-serif;
}
  
  .post{
   margin-top:15px;
   margin-left:35px; 
  }
  
  .post2{
   margin-top:10px;
   margin-left:35px; 
  }
  
  .post3{
   margin-top:10px;
   margin-left:35px; 
  }
  