// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
  header{
    height:50px;
    width:100%;
  }
    
  .title{
    height:250px;
    width:250px;
    background-color:red;
    margin-left:50px;
  }
  
  .title li{
    margin-left:15px;
  }
  
  .body{
   height:250px;
    width:500px;
    background-color:green;
    margin-left:5px;
  }
  
  .menu{
    height:250px;
    width:250px;
    background-color:blue;
  }
  
  top{
    height:50px;
    display:flex;
    flex-direction:row;
  }
  
  main{
    display:flex;
    flex-direction:row;
  }
  
  li{
    list-style:none;
    margin:10px 0px;
  }